.w{
    width: 1002px;
    margin: 0 auto;
}

.bottom{
    margin-bottom: 64px;
}

body{
    font-size: 16px;
    font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}

img{
    vertical-align: bottom; 
}

a{
    text-decoration: none;
}