.head-wrapper {
  margin-bottom: 1px;
}
.head-wrapper .group {
  background-color: #f6f6f6;
  padding: 10px 20px 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.head-wrapper .group li {
  margin: 0 5px;
}
.head-wrapper .group img {
  vertical-align: bottom;
  margin-right: 3px;
}
.head-wrapper .group .twitter a {
  color: #0eaeec;
}
.head-wrapper .group .fb a {
  color: #546da8;
}
.head-wrapper .group .short-line {
  color: #cccccc;
}
.head-wrapper .nav-bar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.head-wrapper .nav-bar h1 {
  background-image: url('../img/logo.png');
  text-indent: 101%;
  width: 224px;
  white-space: nowrap;
  overflow: hidden;
}
.head-wrapper .nav-bar .nav {
  width: 400px;
  line-height: 50px;
  display: flex;
  justify-content: space-evenly;
}
.head-wrapper .nav-bar .nav li {
  text-align: center;
  width: 100px;
  height: 100%;
}
.head-wrapper .nav-bar .nav a {
  display: block;
  color: #00cc99;
}
.head-wrapper .nav-bar .nav a:hover {
  border-bottom: 2px solid #00cc99;
  box-sizing: border-box;
  height: 50px;
}
.content-wrapper .banner {
  position: relative;
}
.content-wrapper .banner div {
  height: 160px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-size: 32px;
  color: #ffffff;
}
.content-wrapper .banner div h3 {
  height: 64px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  padding-left: 26px;
}
.content-wrapper .course {
  display: flex;
  justify-content: space-around;
}
.content-wrapper .course > li {
  box-sizing: border-box;
  padding: 20px;
  width: 300px;
  height: 324px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.content-wrapper .course a {
  color: #333333;
  display: block;
}
.content-wrapper .course a .img-wrap {
  width: 260px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-wrapper .course a h2 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.content-wrapper .course a p {
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}
.content-wrapper .course a ul li {
  list-style: disc;
  font-size: 14px;
  margin: 3px 0 0 20px;
}
.content-wrapper .compare-table h3 {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.content-wrapper .compare-table table {
  width: 842px;
  margin: 0 auto;
}
.content-wrapper .compare-table table td {
  text-align: left;
  line-height: 36px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-collapse: collapse;
  color: #333333;
}
.content-wrapper .compare-table table tr .item {
  padding-left: 25px;
}
.content-wrapper .compare-table table thead td {
  background-color: #f7f7f7;
  font-weight: 600;
}
.content-wrapper .compare-table table .green {
  color: #00a67d;
}
.content-wrapper .contact {
  box-sizing: border-box;
  background-image: linear-gradient(#00644b, #009871);
  padding: 40px 20px 28px 20px;
}
.content-wrapper .contact p {
  font-size: 24px;
  display: flex;
  justify-content: center;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 30px;
}
.content-wrapper .contact form {
  display: flex;
  justify-content: space-evenly;
}
.content-wrapper .contact form .self-info {
  display: flex;
  flex-direction: column;
}
.content-wrapper .contact form .self-info span {
  margin-bottom: 10px;
  color: #ffffff;
}
.content-wrapper .contact form .self-info input {
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 460px;
  font-size: 16px;
  padding: 5px 0px 5px 5px;
  border-radius: 3px;
  border: 1px solid #ffffff;
}
.content-wrapper .contact form .self-info button {
  cursor: pointer;
  margin-top: 20px;
  width: 62px;
  box-sizing: border-box;
  border: 1px solid #00cc99;
  border-radius: 3px;
  align-self: flex-end;
  background-color: #00cc99;
  color: #ffffff;
  font-size: 14px;
}
.footer-wrapper .footer {
  padding: 26px 20px 55px 20px;
  display: flex;
  justify-content: space-between;
}
.footer-wrapper .footer ul {
  font-size: 14px;
  line-height: 20px;
}
.footer-wrapper .footer span {
  color: #e12d80;
}
/*# sourceMappingURL=./index.css.map */